{% extends "base.html" %}
{% block content %}
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-12">
                     <div class="react-reveal container" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-278387614999154-2;">
                        <div class="row my-2">
                           <div class="col-3 col-sm-3 col-md-6 col-lg-4 col-xl-4 fw-bold">Create Limit</div>
                           <div class="col-4 col-sm-3 col-md-1 col-lg-5 col-xl-5"></div>
                        </div>
                     </div>
                     <div class="react-reveal container my-5" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-278387614999154-2;">
                        <form method="post">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
                           <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center">
                              <div class="container-fluid">
                                 <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" onclick="typeSelector(this)" id="sell" name="sell" class="btn btn-lg custom-w btn-danger b-r-none text-start py-0 fs-6 focus-none">SELL<br></button>
                                    <button type="button" onclick="typeSelector(this)" id="buy" name="buy" class="btn btn-lg custom-w btn-primary b-r-none text-end py-0 fs-6 focus-none">BUY<br></button>
                                    <input type="hidden" id="type" name="type" value="buy">
                                 </div>
                              </div>
                              <div class="container my-4 border-bottom pb-4">
                                 <a id="market" class="mx-3 no-dec p-2 text-dark border rounder hover-effect-nav my-1 text-center here">Market</a>
                                 <a id="limit" class="mx-3 no-dec p-2 text-dark border rounder hover-effect-nav my-1 text-center here" >Limit</a>
                                 <a id="stop" class="mx-3 no-dec p-2 text-dark border rounder hover-effect-nav my-1 text-center here"  >Stop</a></div>
                              <div class="container">
                                 <div class="input-group my-0">
                                    <p class="" id="basic-addon1">Lot</p>
                                 </div>
                                 <div class="my-0"><input onchange="submitAdder()" type="number" id="Lot" name="Lot"  class="form-control focus-none" aria-label="Username" aria-describedby="basic-addon1" placeholder="Amount"  min="0"></div>
                              </div>
                              <div class="container">
                                 <div class="input-group mt-3">
                                    <p class="" id="basic-addon1">QTY</p>
                                 </div>
                                 <div class="mb-3"><input onchange="submitAdder()" type="number" id="QTY" name="QTY"  class="form-control focus-none" aria-label="Username" aria-describedby="basic-addon1" placeholder="Amount"  min="0"></div>
                              </div>
                              <div><input type="submit" id="submit" name="submit" value="submit" class="btn btn-danger btn-lg w-100" ></button></div>
                           </div>
                           <div class="col-2"></div>
                           <input type="hidden" id="segment" name="segment" value="0">
                           <input type="hidden" id="symbol" name="symbol" value="0">
                           <input type="hidden" id="bs" name="bs" value="0">
                           <input type="hidden" id="price" name="price" value="0">
                        </div>
                        </form>
                     </div>
                  </div>
                  <script>
                     let url_string = window.location.href
                     let url = new URL(url_string);
                     let symbol = url.searchParams.get("script");
                     let segment = url.searchParams.get("segment");
                     document.getElementById("market").href = "../create_market/?script="+symbol+"&segment="+segment;
                     document.getElementById("limit").href = "../create_limit/?script="+symbol+"&segment="+segment;
                     document.getElementById("stop").href = "../create_stop/?script="+symbol+"&segment="+segment;
                     document.getElementById("segment").value = segment;
                     document.getElementById("symbol").value = symbol;
                    function typeSelector(element)
                    {
                        var type = element.id;
                        if(type == "buy")
                        {
                            document.getElementById("sell").style.backgroundColor = "rgb(187,45,59,0.25)";
                            document.getElementById("buy").style.backgroundColor = "rgb(11,94,215)";
                            document.getElementById("type").value = "Buy";
                            document.getElementById("submit").value = "Buy";
                        }
                        else
                        {
                            document.getElementById("buy").style.backgroundColor = "rgb(11,94,215,0.25)";
                            document.getElementById("sell").style.backgroundColor = "rgb(187,45,59)";
                            document.getElementById("type").value = "Sell";
                            document.getElementById("submit").value = "Sell";
                        }
                    }
                    function submitAdder()
                    {
                        let lot = document.getElementById("Lot").value;
                        let qty = document.getElementById("QTY").value;
                        let type = document.getElementById("type").value;
                        document.getElementById("submit").value = type+ ' '+symbol + ' '+lot+' - '+qty; 
                    }
                     function add()
                     {
                           
                           window.changer = 0;
                           let fetchRes = fetch("../data?apiKey=asdfghjkl&symbol=" + symbol+"&segment="+segment);
                           fetchRes.then(res =>
                              res.json()).then(d => {
                                 document.getElementById("sell").innerHTML="Sell<br>"+d['data'][0]['bid'];
                                 document.getElementById("buy").innerHTML="Buy<br>"+d['data'][0]['ask'];
                                 document.getElementById("bs").value = d['data'][0]['bid']+"-"+d['data'][0]['ask'];
                                 document.getElementById("price").value = d['data'][0]['last price'];
                                 window.changer = 1;
                                 stateChange();
                           });
                     };
                     add()
                     function stateChange()
                     {
                        setTimeout(function(){ 
                           if(window.changer==1)
                           {
                              add();
                              console.log("Data Updater");
                           }
                           else
                           {
                              console.log("Stopped");
                           }
                        }, 2000);
                     }
                     stateChange()
            </script>
{% endblock %}