{% extends 'base.html' %}
{% block title %}Transcation{% endblock %}
{% block content %}
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-12">
                        <div class="container-fluid">
                            <div class="row my-3">
                            <div class="col-3 fw-bold text-start p-0">
                                <div class="form-check ">
                                    <input class="form-check-input focus-none bg-orange" type="radio"  id="pending" name="orderType" >
                                    <label class="form-check-label " for="pending">PENDING ORDERS</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input focus-none bg-orange color-black" type="radio" id="executed" name="orderType" >
                                    <label class="form-check-label" for="executed">EXECUTED ORDERS</label>
                                </div>
                            </div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-6">
                                <div class="input-group shadow-sm ">
                                    <span class="input-group-text focus-none bg-transparent border-right-none" id="basic-addon1">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" class="svg-inline--fa fa-magnifying-glass hover-search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" color="#fab417">
                                        <path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                                        </svg>
                                    </span>
                                    <input type="text" onkeyup="filter()" id="search" autocomplete="off"  class="form-control focus-none border-left-none" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                                <p class="m-2">TRADE AFTER</p>
                                <input type="date" class="bg-orange date-input color-white w-100 height-button border-none px-3 fs-6 cursor">
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                                <p class="m-2">TRADE BEFORE</p>
                                <input type="date" class="bg-orange date-input color-white w-100 height-button border-none px-3 fs-6 cursor">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                                <p class="m-2">SELECT MARKET</p>
                                <select id="market" class="form-select bg-orange color-white height-button focus-none" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="Select Market">Select Market</option>
                                    <option class="bg-light text-dark ps-3" value="NSEFUT">NSEFUT</option>
                                    <option class="bg-light text-dark ps-3" value="MCXFUT">MCXFUT</option>
                                    <option class="bg-light text-dark ps-3" value="NSEOPT">NSEOPT</option>
                                    <option class="bg-light text-dark ps-3" value="GLOBAL FUTURES">GLOBAL FUTURES</option>
                                    <option class="bg-light text-dark ps-3" value="NSEEQT">NSEEQT</option>
                                    <option class="bg-light text-dark ps-3" value="NSECDS">NSECDS</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                                <p class="m-2">SELECT SCRIPT</p>
                                <select id="script" class="form-select bg-orange color-white height-button focus-none" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="Select Script">Select Script</option>
                                    {% for stock in stocksA %}
                                    <option class="bg-light text-dark ps-3" value="{{stock}}">{{stock}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 ">
                                <p class="m-2">ORDER TYPE</p>
                                <select id="orderType" class="form-select bg-orange color-white height-button focus-none" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="Select Order Type">Select Order Type</option>
                                    <option class="bg-light text-dark ps-3" value="Buy Limit">Buy Limit</option>
                                    <option class="bg-light text-dark ps-3" value="Buy Stop">Buy Stop</option>
                                    <option class="bg-light text-dark ps-3" value="Sell Limit">Sell Limit</option>
                                    <option class="bg-light text-dark ps-3" value="Sell Stop">Sell Stop</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
                                <button style="margin-top: 37px; padding-top: 0px;border-radius: 10px; font-size: 10px;" type="button" onclick="setFilter()" class="btn btn-bg-custom  btn-lg focus-none text-light height-button">FIND ORDER</button>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1 ">
                                <button style="margin-top: 37px; padding-top: 0px;border-radius: 10px; font-size: 10px;" type="button" onclick="clearFilter()" class="btn btn-info btn-lg  focus-none text-light height-button">CLEAR FILTER</button>
                            </div>
                        </div>
                        <div class="table-responsive ">
                            <table class="table my-2 table-borderless">
                            <thead>
                                <tr class="table-border-none">
                                    <th scope="col" class="bg-dark text-white ">D</th>
                                    <th scope="col" class="bg-dark text-white ">TIME</th>
                                    <th scope="col" class="bg-dark text-white ">MARKET</th>
                                    <th scope="col" class="bg-dark text-white ">SCRIPT</th>
                                    <th scope="col" class="bg-dark text-white ">B/S</th>
                                    <th scope="col" class="bg-dark text-white ">ORDER TYPE</th>
                                    <th scope="col" class="bg-dark text-white ">LOT</th>
                                    <th scope="col" class="bg-dark text-white ">QTY</th>
                                    <th scope="col" class="bg-dark text-white ">ORDER PRICE</th>
                                    <th scope="col" class="bg-dark text-white ">STATUS</th>
                                    <th scope="col" class="bg-dark text-white ">O.TIME</th>
                                    <th scope="col" class="bg-dark text-white ">CANCEL</th>
                                </tr>
                            </thead>
                            <tbody class="" id="table">
                                {% for trade in trades %}
                                <tr class="border-b">
                                <td id="title" class="text-dark">{{trade.id}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.time}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.market}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.script}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.bs}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.orderType}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.lot}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.qty}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.orderPrice}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.status}}</td>
                                <td style="font-size: 14px;" class="text-dark">{{trade.oTime}}</td>
                                <td style="font-size: 14px;" class="text-dark">
                                    <button onclick="deleteR(this)" type="button">
                                        X
                                    </button>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        <div style="transform: translateY(10px)" class=" ms-3"> 
                            SHOW
                            <span>
                            <select class="form-select bg-orange color-white focus-none width-entry d-inline mx-2" aria-label="Default select example">
                                <option class="bg-light text-dark ps-3" value="10">10</option>
                                <option class="bg-light text-dark ps-3" value="20">20</option>
                                <option class="bg-light text-dark ps-3" value="30">30</option>
                                <option class="bg-light text-dark ps-3" value="40">40</option>
                            </select>
                            </span>
                            ENTRIES
                        </div>
                        <div style="transform: translateY(-30px)" class="d-flex flex-row-reverse bd-highlight">
                            <div class="p-2 bd-highlight">
                            <div class="container float-end w-100">
                                <nav aria-label="Page navigation example float-end">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link text-dark border-none mx-1" href="/">Previous</a></li>
                                        <li class="page-item"><a class="page-link text-dark border rounded border-dark" href="/">1</a></li>
                                        <li class="page-item"><a class="page-link text-dark border-none mx-1" href="/">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script>
            function filter() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[3];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }       
                }
            }
            function filterInd(x,input) {
                var filter, table, tr, td, i, txtValue;
                filter = input
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[x];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }       
                }
            }
            function deleteR(element)
            {
                let text = "Are You sure you want to delete this Transcation?\nThis action cannot be undone.\nTranscation details : \n ID : "+element.parentNode.parentNode.childNodes[1].innerHTML + "\n Market : " + element.parentNode.parentNode.childNodes[5].innerHTML + "\n Script : " + element.parentNode.parentNode.childNodes[7].innerHTML + "\n Order Price : " + element.parentNode.parentNode.childNodes[19].innerHTML + "\n Quantity : " + element.parentNode.parentNode.childNodes[17].innerHTML + "\n Lot : " + element.parentNode.parentNode.childNodes[15].innerHTML + "\n Date : " + element.parentNode.parentNode.childNodes[3].innerHTML ;
                if (confirm(text) == true) {
                    let table = document.getElementById('table');
                    table.deleteRow(element.parentNode.parentNode.rowIndex-1);
                    fetch("../tradesRemove?"+"id="+element.parentNode.parentNode.childNodes[1].innerHTML,
                    res =>
                    res.json()
                    ).then((_res) => {
                        console.log();
                    });
                }
            }
            function clearFilter()
            {   
                if (document.getElementById('pending').checked) {
                    document.getElementById('pending').checked = false;
                }
                else
                {
                    document.getElementById('executed').checked = false;
                }
                document.getElementById("after").value = "";
                document.getElementById("before").value = "";
                document.getElementById("market").value = "Select Market";
                document.getElementById("script").value = "Select Script";
                document.getElementById("orderType").value = "Select Order Type";
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                        tr[i].style.display = "";
                }       
            }
            function setFilter()
            {
                let decision = "";
                decision = document.getElementById('pending').checked ? "pending" : "executed";
                console.log(decision);
                let after = document.getElementById("after").value;
                let before = document.getElementById("before").value;
                let market = document.getElementById("market").value;
                let script = document.getElementById("script").value;
                let ordertype = document.getElementById("orderType").value;
                if(decision!="")
                {
                    filterInd(9,decision);
                }
                if(market!="Select Market")
                {
                    filterInd(2,market);
                }
                if(script!="Select Script")
                {
                    filterInd(3,script);
                }
                if(ordertype!="Select Order Type")
                {
                    filterInd(5,ordertype);
                }
            }
        </script>
{% endblock content %}