<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <button type="button" id="download" onclick="generatePDF()" class="border-2 border-black rounded-lg p-1 bg-green-300 font-bold mt-3 ml-3">Downloads</button>

    <div id="test">
       <div class="p-3 ">
            <h1 class="text-2xl text-center">Leadger Report</h1>
            <h1 class="text-md font-bold text-blue-600">Period : 06/06/2022 - 11/06/2022</h1>
            <h1 class="text-md font-bold text-blue-600 text-right">Run Date / Time : 07/06/2022 11:30:06</h1>
            <table style="width:100%;" >
                <thead>
                    <tr>
                        <th class="text-center border-black border-2 bg-orange-300">Client Name / Code</th>
                        <th class="text-center border-black border-2 bg-orange-300">Tr date</th>
                        <th class="text-center border-black border-2 bg-orange-300">Book Name</th>
                        <th class="text-center border-black border-2 bg-orange-300">V No</th>
                        <th class="text-center border-black border-2 bg-orange-300">Remarks</th>
                        <th class="text-center border-black border-2 bg-orange-300">Debit</th>
                        <th class="text-center border-black border-2 bg-orange-300">Credit</th>
                        <th class="text-center border-black border-2 bg-orange-300">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center border-black border-2 border-b-0">TOTAL M2M</td>
                        <td class="text-center border-black border-2 border-b-0">1200000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-b-0">12000000.0</td>
                    </tr>
                    <tr>
                        <td class="text-center border-black border-2 border-t-0">TOTAL BROKERAGE</td>
                        <td class="text-center border-black border-2 border-t-0">1200000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                        <td class="text-center border-black border-2 border-t-0">12000000.0</td>
                    </tr>
                    <tr>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold"></td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold"></td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold">Total</td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold">0.0</td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold">0.0</td>
                        <td class="text-center border-black border-2 border-b-0 bg-blue-300 font-bold"> </td>
                    </tr>
                    <tr>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold">Closing Balance</td>
                        <td class="text-center border-black border-2 border-t-0 bg-blue-300 font-bold"> </td>
                    </tr>
            </table>
       </div>
    </div>
  </body>
  <script>
    function generatePDF() {
        var btn = document.getElementById('download');
        btn.style.display = 'none';
        window.print();
        btn.style.display = 'block';
        };
    </script>
</html>
