<!DOCTYPE html>
<html>
    <head>
        <title>WebSockets</title>
    </head>
    <body>
        <h4 id="SessionID"></h4>
        <label for="Stock">Stock :</label>
        <input type="text" id="Stock" />
        <button onclick="getStock()">Get Stock</button>
        <table id="table" style="border: 1px solid black;">
            <tr>
                <td style="border: 1px solid black;">Symbol</th>
                <td style="border: 1px solid black;">bid</td>
                <td style="border: 1px solid black;">ask</td>
                <td style="border: 1px solid black;">last</td>
                <td style="border: 1px solid black;">change</td>
                <td style="border: 1px solid black;">change_percent</td>
                <td style="border: 1px solid black;">volume</td>
            </tr>
        </table>
        <script>
            symbol = ['BINANCE:BTCUSDT', 'BINANCE:ETHUSDT']
            for (var i = 0; i < symbol.length; i++) {
                table = document.getElementById("table");
                rowT = `<tr id="`+symbol[i]+`">
                            <td style="border: 1px solid black;">`+symbol[i]+`</td>
                            <td style="border: 1px solid black;" class="bid"></td>
                            <td style="border: 1px solid black;" class="ask"></td>
                            <td style="border: 1px solid black;" class="lp"></td>
                            <td style="border: 1px solid black;" class="ch"></td>
                            <td style="border: 1px solid black;" class="chp"></td>
                            <td style="border: 1px solid black;" class="volume"></td>
                        </tr>`;
                table.innerHTML += rowT;
            }
            var socket = new WebSocket('ws://'+window.location.host+'/ws/stock/trade/');
            socket.onmessage = function(event) {
                if (JSON.parse(event.data)["message"] == "connected") {
                    document.getElementById("SessionID").innerHTML = "SessionID : " + JSON.parse(event.data)["session"];
                    window.session = JSON.parse(event.data)["session"];
                    symbol.unshift(window.session )
                    socket.send(JSON.stringify({
                        'message': 'new',
                        'symbol': symbol
                    }));
                }
                else if(JSON.parse(event.data)["message"] == "done")
                {
                    socket.send(JSON.stringify({
                        'message': 'update'
                    }));
                }
                else {
                    console.log(JSON.parse(event.data)["message"]);
                    if (JSON.parse(event.data)["message"] != "error") {
                        dataF = JSON.parse(event.data)["message"];
                        for (var key in dataF['v']) {
                            try
                            {
                                if (dataF['v'].hasOwnProperty(key)) {
                                    row = document.getElementById(dataF['n']);
                                    row.getElementsByClassName(key)[0].innerHTML = dataF['v'][key];
                                }
                            }
                            catch(err)
                            {
                                console.log("Error");
                            }
                        }
                    }
                    socket.send(JSON.stringify({
                        'message': 'update'
                    }));
                }
            };
            function sender() {
                socket.send(JSON.stringify({
                    'message': 'update'
                }));
                console.log("sent");
                setTimeout(sender, 1000);
            }
            function getStock()
            {
                tempSymbol = document.getElementById("Stock").value;
                symbol.push(tempSymbol);
                console.log(symbol);
                socket.send(JSON.stringify({
                    'message': 'add',
                    'symbol': symbol
                }));
                document.getElementById("Stock").value = "";
                table = document.getElementById("table");
                row = `<tr id="`+tempSymbol+`">
                            <td style="border: 1px solid black;">`+tempSymbol+`</td>
                            <td style="border: 1px solid black;" class="bid"></td>
                            <td style="border: 1px solid black;" class="ask"></td>
                            <td style="border: 1px solid black;" class="lp"></td>
                            <td style="border: 1px solid black;" class="ch"></td>
                            <td style="border: 1px solid black;" class="chp"></td>
                            <td style="border: 1px solid black;" class="volume"></td>
                        </tr>`;
                table.innerHTML += row;
            }
            window.onbeforeunload = function() {
                socket.send(JSON.stringify({
                    'message': 'remove',
                    'symbol': symbol
                }));
            }
            
        </script>
    </body>
</html>